# Binaries for programs and plugins
main
cdv
*.exe
*.exe~
*.so
*.dylib
*.dll
gen_domain
# Ignore binary output folders
bin/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml

# ENV
.env

# vweb and database
*.db
*.js
